<br />
<div class="container">
  <h1>Indian Vendors</h1>
  <hr />
  <p>
    We provide the service proposes a website, named Indian vendors for the
    vendors who are selling their goods. As during the pandemic vendors have
    faced many problems for selling their products<br />
    In this website we will add vendors so they will be authorized as an vendor
    to sell their products and they can upload their goods and groceries and can
    update the price and information’s whenever they want As we are making a
    centralized website for all the vendors of India so they can make their work
    online too.<br />
    As the vendors will upload their goods so the normal peoples (users) can
    order the goods as per their need and can comment on the purchased product
    if they use slang word in it then we will refine it using sentiment analysis
    and badwords.json file.
  </p>
</div>
