<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
  <div class="container">
    <h2 style="color: white;">Indian Vendors</h2>
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a routerLink="/"
              ><i class="fa fa-angle-double-right"></i>Home</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a routerLink="/aboutus"
              ><i class="fa fa-angle-double-right"></i>About</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a routerLink="/"
              ><i class="fa fa-angle-double-right"></i>Home</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a routerLink=""><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a routerLink=""><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a routerLink=""><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a routerLink=""><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="list-inline-item">
            <a routerLink="" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row">
      <div
        class="
          col-xs-12 col-sm-12 col-md-12
          mt-2 mt-sm-2
          text-center text-white
        "
      >
        <p>
          <u><a routerLink="/">Indian Vendors</a></u> is a
          Registered MSP/ISO of India, Inc.
        </p>
        <p class="h6">
          © All right Reversed.<a
            class="text-green ml-2"
            routerLink="/"
            target="_blank"
            >IndianVendors</a
          >
        </p>
      </div>
      <hr />
    </div>
  </div>
</section>

<!-- ./Footer -->
