<br />
<div class="container">
  <div class="row">
    <div class="col">
      <img
        class="rounded img-fluid img-thumbnail"
        src="{{ product.productimage }}"
        alt=""
        style="max-width: 350px; max-height: 400px; border: 2px solid black"
      />
      <div>
        <br />
        <div style="font-size: 30px; font-weight: bolder">
          {{ product.productname }} | {{ product.brand }}
        </div>
      </div>
      <br />
      <div style="font-size: larger">
        {{ product.offerprice | currency: "INR" }} |
        <span style="text-decoration: line-through">{{
          product.realprice | currency: "INR"
        }}</span>
      </div>
    </div>
    <div class="col">
      <br />
      <div style="font-size: 30px; font-weight: bolder">Specifications</div>
      <hr />
      <div style="font-size: 20px">
        <span style="font-weight: bold">Brand : </span>{{ product.brand }}
      </div>
      <br />
      <div style="font-size: 20px">
        <span style="font-weight: bold">Quantity : </span>{{ product.quantity }}
      </div>
      <br />
      <div style="font-size: 20px">
        <span style="font-weight: bold">Origin : </span>{{ product.origin }}
      </div>
      <br />
      <div style="font-size: 20px">
        <span style="font-weight: bold">Contact details : </span>
        <a href="tel:{{ product.contactno }}">{{ product.contactno }}</a>
      </div>
      <br />
      <form #form="ngForm" (ngSubmit)="postComment(form)">
        <div class="form-group">
          <label
            for="exampleFormControlTextarea1"
            style="font-size: 20px; font-weight: bold"
            >Post Your Review:</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            placeholder="Comment here"
            rows="3"
            name="comment"
            #comment="ngModel"
            [(ngModel)]="this.productService.comments.comment"
          ></textarea
          ><br />
          <button type="submit" class="btn btn-primary">Post Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>
